body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  width: 100vw; 
  height: 100vh; 
  background-image: url("./shared/icons/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; 
}

.otstup {
  margin-right: 300px;
  margin-left: 300px;
  padding-top: 40px;
}

.black:active {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
